<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LinguisticSignalSystem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Neural Interface Sources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Swatch-GNU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Swatch-NN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22A745311998BA34001159DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A7455D1998BBBA001159DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A745A21998BC64001159DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22AF39CD1998AD1800258C2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
